
.navbar-fixed-top {
  background-color: #ffc107 !important;
  opacity: 0.7;

}

.container{
width: 1000px;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 450px;
}

h4.basefont{
  /*color: #676a6c;*/
  color: #2d2f2f;
  align-items: center;
  font-weight: 200;
}

.belowbasefont{
  color: rgb(21, 22, 23);
  font-weight: 200;
}

h6.uper{
  color:  #ffc107;
  font-weight: 300;
  font-size: 15px;
}

.divider {
  height: 1px;
  width: 220px;
  overflow: hidden;
  background-color: #ffc107;
  margin: 60px auto 0;
}

a {
    color: #2d2f2f;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.pos{
  margin-left: 300px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 150px;
  position:absolute;
}

.backimage{
  background-color:black;
  height:500px;
  opacity:0.2;
  position: absolute;;
  z-index: -1;
}

.beautyText{
  font-size: 45px;
  font-weight: 300;
  color: white;
   text-shadow:5px 5px 10px  #ffc107;
}

.beautyTextBelow{
  font-size: 15px;
  color: white;
  opacity: 0.8;
}
